<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="echelon-vendor" value="vendor/nuget" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="echelon-vendor">
      <package pattern="EchelonFoundry.Limen.Contract" />
      <package pattern="EchelonFoundry.Limen.Guest" />
      <package pattern="EchelonFoundry.Limen.Store" />
      <package pattern="EchelonFoundry.Limen.Routing" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
